<body>
    <h1>Rejoin the Hunt</h1>

    <%= form_tag "/logging_in", method: "post" do %>
        <%= label_tag :username, "Your name in The Hunt" %>
        <%= text_field_tag :username %>

        <%= label_tag :password %>
        <%= password_field_tag :password %>

        <%= submit_tag "Login" %>

    <% end %>

    <%= link_to image_tag("staging-field.PNG", :size => "285x50"), "/", method: "get" %>
</body>
