<h1>What Ho, are you Ready to Join the Hunt?!</h1>
<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :your_name %>
    <%= f.text_field :your_name %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit %>
    <%end%>

    <% if flash[:messages] %>
    <% flash[:messages].each do |message| %>
        <p>
            <%= message %> 
        </p>
    <% end %>

<% end %>
