<body class= "level_seven" >
<div class="level_header">And here's a classic English afternoon lightning storm! I say, if you head back to the stables and return disguised as the Lord Governor, I imagine you'll find a way to dispel this weather with but a word. Hop to it, lad!  </div>

 
  <div class="storm"></div>

<p id="login_deets"> username: Lord Governor Chasslesworth
    password: rulebritannia
</p>

<div id="level7_form">
    <%= form_tag(level_7_path, method: :get) do %>
    <%= text_field_tag(:guess, params[:guess])%>
    <%= submit_tag ("I say:") %>
    <% end %>
</div>

<div class="error_message7"> 
    <% if @error.present? %>
        <%=@error%>
    <% end %>
</div>

  <div id="hint7">
    <%= link_to image_tag("lightbulb.png", :alt => "Hint", :style => "height:100px;width:auto;"), level_7_hint_path , :target => "_blank" %>
  </div>

  <div id="lvl7_return">
    <%= link_to image_tag("trophy-room-button.PNG", :size => "285x50"), user_path(current_user), method: "get" %>
  </div>
</body>