<div class="level_header"> Quite a spiffing group we've gathered, eh, old boy? The proper huntsmen, I mean. I'll send Pickerly to have tea served upon our return. How many place settings shall we say? </div>
<br><br><br>
<body class='level_five'>

    
    <iframe width="560" height="315" src="https://www.youtube.com/embed/L00hML8a3HQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <p>
    <%= form_tag(level_5_path, method: :get) do %>
    <%= text_field_tag(:guess, params[:guess])%>
    <%= submit_tag ("I think this is the answer") %>
    <% end %>
    <p>

      <% if @error.present? %>
            <%=@error%>
        <% end %>

    <div id="hint5">
    <%= link_to image_tag("lightbulb.png", :alt => "Hint", :style => "height:100px;width:auto;"), level_5_hint_path , :target => "_blank"%>
    </div>

    <%= link_to image_tag("return-to-stables.PNG", :size => "285x50"), user_path(current_user), method: "get" %>
</body>

