<body class="splash">
  <%= stylesheet_link_tag "static", :media => "all" %>
  <div class="tally" >
    <%= image_tag src="tally-ho.PNG", :style => "height:150px;width:auto;", alt: "Tally Ho!"%>
  </div>
  <% if check_if_someone_is_logged_in? %>
    <p class='login'> <%= current_user.username %> is ready for The Hunt!
     <%= link_to image_tag("trophy-room-button.PNG", :size => "285x50"), user_path(current_user), method: "get" %>
    </p>
  <% else %>
  <div><p><span class='login'>Don't recognize you old boy. Please check in! 
  <br><%= link_to image_tag("check-in.PNG", :style => "height:50px;width:auto;"), new_user_path, method: "get" %> 
  </span></p></div>
 
 <br><div><p><span class='login1'>That's preposterous! <br>I've been at The Hunt since you were in short pants!
  <br><%= link_to image_tag("remind-them-button.PNG", :style => "height:50px;width:auto;"), logging_in_path, method: "post"%>
  </span></p></div>

    <div class="rules">
    <%= link_to image_tag("rules-of-play.PNG", :alt => "Rules of Play", :style => "height:125px;width:auto;"), rules_path, :target => "_blank" %>
    </div>
  <% end %>
</body>

